@import "guides/var";
@import "partials/helpers";
@import "guides/normalize";
// @import "guides/typebase";

//@import "bower_components/pure/pure";
//@import "bower_components/saffron/saffron/saffron.scss";

//@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
//@import "bower_components/neat/app/assets/stylesheets/neat";
//@import "bower_components/bitters/app/assets/stylesheets/base";

@import "guides/typography";
//@import "partials/typography";
@import "partials/global";
@import "partials/sidebar";
@import "partials/header";
//@import "partials/content";
//@import "partials/post";
@import "partials/pagination";
@import "partials/footer";

.content.home .posts {

  article {
    margin: .6em 0 0;
    border-radius: 3px;
    background-color: #F1F1F7;
    display: flex;
    .breakpoint-phone & {
      flex-direction: column;
    }
    // .breakpoint-tablet-down & {
    //   width: 48%;
    // }
    // .breakpoint-small-tablet-down & {
    //   width:100%;
    // }
  }
  header {
    background-color: $cool-blue;
    padding: 2em;
    width: 30%;
    .breakpoint-phone & {
      width: auto;
    }
  }
}

.post.post {
  max-width: 1000px;
}

.post-body {
  flex:1;
  padding:1em 2em;
}
.post-info {
  display:flex;
  display:none;
  justify-content:flex-end;
  align-content: stretch;

}
