@import "guides/var";
@import "partials/helpers";
@import "guides/normalize";
// @import "guides/typebase";

//@import "bower_components/pure/pure";
//@import "bower_components/saffron/saffron/saffron.scss";

//@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
//@import "bower_components/neat/app/assets/stylesheets/neat";
//@import "bower_components/bitters/app/assets/stylesheets/base";

@import "guides/typography";
//@import "partials/typography";
@import "partials/global";
@import "partials/sidebar";
@import "partials/header";
//@import "partials/content";
//@import "partials/post";
@import "partials/pagination";
@import "partials/footer";

.content.home .posts {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2em;

  article {
    width: 32%;
    margin: 0 .3em 1em;
    // padding: .8em 1em 0;
  /* background: hsla(31,15%,50%,.1); */
    border-radius: 3px;
    background-color: #F1F1F7;
    display: flex;
    flex-direction: column;
    /* align-items: inherit; */
    align-content: stretch;

    .breakpoint-tablet & {
      width: 48%;
    }
    .breakpoint-phone & {
      width:100%;
    }

    header {
      background-color: $cool-blue;
      padding: 2em;
    }
  }
}

.post.post {
  max-width: 800px;
  margin: 0 auto;
}

.post-body {
  flex:1;
  padding:1em;
}
.post-info {
  display:flex;
  justify-content:flex-end;
  align-content: stretch;

}
