

a[href$=".gif"], a[href$=".png"], a[href$=".jpg"] {
  float: left;
  width:100%;
  img {
    width:100%;
    max-width:80%;
    border: 6px solid white;
  }
}

blockquote {
  // border-right:6px solid $blue;
  display: inline-block;
  p {
    font-size: 1.2em;
    line-height: 1.5;
    font-style: italic;
    margin:0;
    color:$cool-blue;
  }
  cite {
    font-size: .9em;
  }
}
body {
  background-color: $cool-white;  //#EAFCFD;
}

.wrapper {
  // border-top: 10px solid $purple;
  @extend %pure-g;
}

.sidebar {
  background: $cool-blue;
  color: #fff;
  // width:60px;
  // @include slideInLeft();
  @extend %pure-u-1;
  @extend %pure-u-1-5;

  nav.nav {
    display: none;
  }
  &:hover {

    nav.nav {
      display:block;
    }
  }
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
    @extend .hug;
}

.content {
  @extend %pure-u-1;
  @extend %pure-u-4-5;
  @extend .hug;
  @extend .accel;
}
.posts {padding: 0em 1em 0;}
.post {
    padding-bottom: 2em;
    border-bottom: 1px solid #d8d8d8;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-body {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
    font-size: 1.34em;
}


.socialbar-container, .post-tags {
  font-size: 1em;
}

.post-tags {
  li {
    list-style: none;
    float:left;
    a {
      font-family: 'Roboto';
      font-weight: 500;
      background-color: $blue;
    }
  }
}
@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 20%;
    }

    .header {
        margin: 0 2em 0;
        // text-align: right;
        nav {
          text-align: center;
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}