<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>

    {{ header_meta }}
    <link href="{{ site.avatar }}" rel="icon">
<meta name="breakpoint" content="phone" media="(max-width: 480px)">
<meta name="breakpoint" content="small-tablet" media="(min-width: 480px) and (max-width: 600px)">
<meta name="breakpoint" content="tablet" media="(min-width: 600px) and (max-width: 1024px)">
<meta name="breakpoint" content="tablet-down" media="(max-width: 1024px)">
<meta name="breakpoint" content="widescreen" media="(min-width: 1024px)">
<meta name="breakpoint" content="retina" media="only screen and (-webkit-min-device-pixel-ratio : 2)">
    <!-- <link href="{{ static('themes/_assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" /> -->
    <!-- <link href="{{ static('themes/_assets/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" /> -->
    <link href="{{ static('themes/_assets/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,900' rel='stylesheet' type='text/css'>
    <!--<link href="{{ static('themes/apex/apex.css') }}" rel="stylesheet" />-->
<link href="https://dl.dropboxusercontent.com/u/1795753/postach/css/style.css" rel="stylesheet" />

<script src="https://dl.dropboxusercontent.com/u/1795753/postach/dist/all.js"></script>



    <!--[if IE 7]>
      <link href="{{ static('fontawesome/css/font-awesome-ie7.min.css') }}" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
    <style>
      /**
       * Your custom override CSS goes here. If you wanted to override the default link colour and hover state, you would do this:
       *
       *  a {
       *      color: #333; /* Override the default colour with a not-quite-black that is easy on the eyes on white screens */
       *  }
       *
       *  a:hover {
       *      color: #545454; /* This will now change the hover state as well */
       *  }
       *
       *  You can put anything you want to override in here, so be creative!
       */
    </style>
    -->

    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
  </head>
  <body>

    {% if is_login %}

      {{ login_form }}

    {% else  %}
<div class="wrapper">
   <section class="sidebar">
        <header class="header">
            <hgroup>
              <a class="logo" href="/">
                <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}" width="100%" height="100%" />
              </a>
               <!--  <h1 class="brand-title">{{ site.name }}</h1>
                <h2 class="brand-tagline">Creating a blog layout using Pure</h2> -->
            </hgroup>

            <nav class="nav">
              <h1>Alan Laidlaw</h1>
              <h3><a href="http://alanlaidlaw.tumblr.com" title="Tumblr" target="_blank">1. What I've been reading</a></h3>
              {% if is_home or is_tag %}
                <ul class="social">
                    {% if site.twitter %}
                  <li >
                    <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                      <i class="icon-twitter"></i> Twitter
                    </a>
                  </li>
                  {% endif %}

                  {% if site.facebook %}
                  <li >
                    <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                      <i class="icon-facebook-sign"></i> Facebook
                    </a>
                  </li>
                  {% endif %}


                  <li >
                    <a href="http://alanlaidlaw.tumblr.com" title="Tumblr" target="_blank">
                      <i class="icon-tumblr-sign"></i> What I'm Reading
                    </a>
                  </li>


                  {% if site.linkedin %}
                  <li >
                    <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                      <i class="icon-linkedin"></i> LinkedIn
                    </a>
                  </li>
                  {% endif %}
                  <li >
                    <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                      <i class="icon-rss"></i> RSS
                    </a>
                  </li>
                </ul>

                {% elif post %}
                  {#  /////////// EXCLUDED SECTION
                    <div class="post-info">
                      <div class="info-left">
                        <p class="date">{{ post.created_at|format_date }}</p>
                      </div>
                      <div class="info-right">
                        <p class="comments">
                          <a href="/"><i class="icon-comment"></i> 0</a>
                        </p>
                      </div>
                    </div>
                     {{ theme.social.bar }}

                      {% if post.tags %}
                      <ul class="post-tags">
                      {% for tag in post.tags %}
                        <li><a href="/tag/{{ tag }}">{{ tag|format_tag(link=False, humanize=True) }}</a></li>
                      {% endfor %}
                      </ul>
                      {% endif %}

                      <div class="post-footer">
                        <p class="back"><a href="/">&laquo; Go Back</a></p>
                      </div>
                    #}

                {% endif %}
            </nav>
        </header>
    </section>

{#  /////////// EXCLUDED SECTION
    <div class="content">
      <div class="span3 header">
        <div class="bg-img" style="background-image: url('{% if site.cover_photo %}{{ site.cover_photo }}{% else %}{{ static('themes/expanse/images/cover-photo-1.jpg') }}{% endif %}');"></div>
        <div class="gradient"></div>


        <div class="site-description">
          <ul>
          <li><a href="/">Blog</a></li>
          {% if pages %}
          {% for page in pages %}
          <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
#}

    <div class="content">

      {% if is_home or is_tag %}

      <section class="posts">
        <h1 class="content-subhead">Recent Posts</h1>
          {% if is_tag %}
          <h4 class="sub-heading span7">Showing all posts tagged {{ tag }}:</h4>
          {% endif %}

          {% if posts %}
          {% for post in posts %}
          <article class="post">

            <header class="post-header">
              <h2><a href="{{ post.permalink }}#disqus_thread">{{ post.title }}</a></h2>
            </header>

            <div class="post-body" data-type-cleanup="true">
              {{ post.content }}
            </div>
            <div class="post-info">
              <div class="info-left">
                <p class="date">{{ post.created_at|format_date }}</p>
              </div>
              <div class="info-right">
                <p class="read-more"><a href="{{ post.permalink }}">Read More &raquo;</a></p>
              </div>
            </div>
          </article>
          {% endfor %}
          {% if not is_tag %}
          <div class="pagination span6">
            {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
            {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
          </div>
          {% endif %}
          {% else %}
          <h4 class="sub-heading span6">No Posts Yet :(</h4>
          {% endif %}
      </section>

      {% elif post %}

      <section class="posts">
        <article class="post">
          <h1>{{ post.title }}</h1>
          <div class="post-body">
            <div class="post-content" data-type-cleanup="true">
              {{ post.content }}
            </div>

            {% if post.type == 'link' %}
            <p><a href="{{ post.url }}"><i class="icon-share"></i> {{ post.url }}</a></p>
            {% endif %}
          </div>


            {% if site.disqus %}
            <div class="post-comments">
              <div id="disqus_thread"></div>
              <script>
                var disqus_shortname = '{{ site.disqus }}';
                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
            </div>
            {% endif %}
        </article>
      </section>

    {% elif post.type == 'page' %}

      <section class="span7 offset1 posts">
        <article class="post whole span7">
          <h1>{{ page.title }}</h1>
          <div class="post-body" data-type-cleanup="true">
            {{ page.content }}
          </div>
          <div class="post-footer">
            <p class="back"><a href="/">&laquo; Go Back</a></p>
          </div>
        </article>
      </section>

    {% endif %}

    </div>
    <footer>

    </footer>
    {% endif %}

    {{ footer_meta }}

    <!-- bootstrap -->
    <!-- <script src="{{ static('themes/_assets/bootstrap/js/bootstrap.min.js') }}"></script> -->
    </div>
  </body>
</html>