
div.posts {
  padding-top: 95px;
}
div.post {

  padding: 30px 0 30px 0;
  border-bottom: 1px solid #e5e5e5;
  &:first-of-type {
    padding-top: 0;
  }
  &.whole {
    border-bottom: 0;
    padding-bottom: 60px;
  }
   h2, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    line-height: default;
  }
   h3 {
    font-size: 22px;
  }
   p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 100;
    margin: 0;
    padding: 10px 0 10px 0;
  }
   ul li,
   ol li {
    list-style-type: square;
    margin-left: 40px;
    padding: 10px 0 10px 0;
    line-height: 16pt;
    font-size: 20px;
    // font-weight: 300;
  }
   blockquote {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    padding: 10px 0 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  // div.post-body {
  //   font-weight: 400;
  //   font-size: 18px;
  //   line-height: 28px;

  //   .post-content {
  //     display: block;

  //     ul, ol, li, blockquote, p, div, b, i {
  //       text-align: left;
  //       strong {
  //         font-weight: bold;
  //       }
  //     }
  //     b {
  //       font-weight: bold;
  //     }
  //     p, div {
  //       padding: 7.5px 0;
  //       margin: 0;
  //       &.gist {
  //         padding: 0;
  //         margin: 0;
  //         div {
  //           padding: 0;
  //           margin: 0;
  //         }
  //       }
  //     }
  //     table {
  //       margin: 0;
  //       padding: 0;
  //     }
  //     blockquote {
  //       padding: 7.5px 15px;
  //       margin: 7.5px 0;
  //       border-left: 5px solid #e5e5e5;
  //     }
  //     ul {
  //       padding: 7.5px 0 11.25px;
  //       margin-left: 50px;
  //       li {
  //         padding: 0;
  //         margin: 0;
  //         list-style-type: square;
  //       }
  //     }
  //     ol {
  //       padding: 7.5px 0 11.25px;
  //       margin-left: 30px;
  //       li {
  //         padding: 0;
  //         margin: 0;
  //         list-style-type: decimal;
  //       }
  //     }
  //     h1 {
  //       padding-bottom: 15px;
  //     }
  //     img {
  //       max-width: 100%;
  //     }
  //     .mejs-container {
  //       margin-top: 7.5px;
  //     }
  //   }
  // }

   p.read-more,
   p.back {
    font-size: 16px;
  }
   p.read-more a,
   p.back a {
    color: #0ADFEF;
  }
   p.read-more a:hover,
   p.back a:hover {
    color: #000000;
  }
   p.date {
    color: #999999;
    font-size: 16px;
  }
   p.comments {
    color: #999999;
    font-size: 16px;
  }
   p.comments a {
    color: #999999;
  }
   p.comments a:hover {
    color: #0ADFEF;
  }
   h1, h2 a {
    font-size: 38px;
    line-height: 46px;
    padding-bottom: 10px;
    color:rgb(221, 106, 0);
  }
   h2 {
    margin-top: 0;
    padding-top: 0;
    color: #000000;
  }
   h2 a {
    color: #000000;
  }
   h2 a:hover {
    color: #0ADFEF;
  }
  //  div.post-body ul li,
  //  div.post-body ol li {
  //   font-weight: 400;
  //   font-size: 18px;
  //   line-height: 28px;
  // }
   div.post-info {
    display: block;
    clear: both;
    width: 100%;
    padding: 0 0 20px 0;
  }
   div.post-info:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
   div.post-info:after {
    content: "";
    display: table;
    clear: both;
  }
   div.post-info .info-left {
    width: 49%;
    float: left;
  }
   div.post-info .info-right {
    width: 49%;
    float: right;
    text-align: right;
  }
   div.post-info p.date {
    color: #999999;
  }
   div.post-comments {
    padding-top: 30px;
  }
   .socialbar-container {
    padding-top: 20px;
  }
   .socialbar-container a:hover {
    color: #000000;
  }
   ul.post-tags {
    display: block;
    padding: 20px 0 0 0;
    margin: 0;
  }
   ul.post-tags li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
   ul.post-tags li a {
    font-size: 14px;
    line-height: 14px;
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    margin: 0 5px 0 0;
    display: inline-block;
    background-color: #0ADFEF;
    color: #ffffff;
  }
   ul.post-tags li a:hover {
    background-color: #000000;
  }
   div.post-body ul.post-tags {
    margin: 0;
    padding: 20px 0 0 0;
  }
   div.post-body ul.post-tags li {
    margin: 0;
    padding: 0;
  }
   div.post-footer {
    padding-top: 20px;
  }
}