div.footer {
  padding: 80px 0 40px 0;
}
div.footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
div.footer:after {
  content: "";
  display: table;
  clear: both;
}
div.footer p.copyright {
  color: #999999;
}
div.footer p.copyright a {
  color: #999999;
}
div.footer p.copyright a:hover {
  color: #0ADFEF;
}
div.footer ul {
  display: block;
}
div.footer ul li {
  display: inline;
}
div.footer ul li a {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 30px 0 0;
  color: #0ADFEF;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
div.footer ul li a:hover {
  color: #000000;
}
div.footer ul li.link-icon a {
  position: relative;
  top: 2px;
  font-size: 18px;
}