

a[href$=".gif"], a[href$=".png"], a[href$=".jpg"] {
  float: left;
  width:100%;
  img {
    width:100%;
    max-width:80%;
    border: 6px solid white;
  }
}
hr {
  border-bottom: 1px solid #d8d8d8;
  border-top:0;
}
blockquote {
  // border-right:6px solid $blue;
  display: inline-block;
  p {
    font-size: 1.2em;
    line-height: 1.5;
    font-style: italic;
    margin:0;
    color:$cool-blue;
  }
  cite {
    font-size: .9em;
  }
}
body {
  background-color: $cool-white;  //#EAFCFD;
  line-height: 1.7em;
}

.wrapper {
  // border-top: 10px solid $purple;
  // @extend %pure-g;
  display: flex;
  flex-direction: column;
  height: 100%;

}


.post-info, .post-tags, .post-footer {
  @extend %clearfix;
}

// article section {
//   @extend %pure-g;
//   .call-out {
//     @extend %pure-u-1;
//     @extend %pure-u-1-3;
//   }
// }


.socialbar-container, .post-tags {
  font-size: 1em;
}

.post-tags {
  li {
    list-style: none;
    float:left;
    a {
      font-family: 'Roboto';
      font-weight: 500;
      background-color: $blue;
      padding: 3px;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
}
