.header {
    flex: 2;
    padding: 1em;
    h1 {
      text-align: center;
    }
    .breakpoint-#{ $sidebar-switch } & {
      display: inline-table;
      width: 100%;
      padding:0;
    }
}
//
// .sticky-wrapper {
//   flex:1;
// }
// .stuck {
//   position:fixed;
//   top:0;
//   width:30%;
//   .breakpoint-#{ $sidebar-switch } & {
//     position:relative;
//   }
// }
//
nav.nav {
  //opacity:0;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  .breakpoint-#{ $sidebar-switch } & {
    opacity:1;
  }
}


.logo {
  display: block;
  position: relative;
  width: 55px;
  height: 55px;
  border: 2px solid #ffffff;
  //background-color: #000000;
  margin: 0 auto;
  //margin-top: 120px;
  text-align: center;
  margin-bottom:30px;
  border-radius: 50%;
  font-size:0;
  @extend %animate;
  .breakpoint-#{ $sidebar-switch } & {
    //margin-top: 30px;
    width: 80px;
    height: 80px;
  }
}

.logo:hover {
  background-color: #0ADFEF;
}
.logo img {
  border-radius: 50%;
}
.logo i {
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  top: 50%;
  margin-top: -20px;
}

.nav h1 {
  font-size: 2em;
  color: $cool-white;
  a {
    text-decoration: none;
  }
  .breakpoint-#{ $sidebar-switch } &  {
    // color: $cool-blue;
    text-align: center;
    margin-top:0;
    font-size: 1.4rem;
  }
}
.nav h3 {
  color: $cool-white;
}
// SOCIAL
ul.social {

  margin: 0 auto;
  z-index: 1000;
  text-align:  center;
  padding: 20% 0;
  .breakpoint-#{ $sidebar-switch } & {
    padding: 5% 0;
    width:100%;
  }
}
ul.social li {
  list-style-type: none;
  display: inline-block;
}
ul.social li a {
  display: inline-block;
  width: 25px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding-top: 4px;
  margin: 0 5px 0 5px;
  font-size: 0;
  text-decoration: none;
  i {
    font-size:1rem;

  }
}
ul.social li a:hover {
  background-color: #0ADFEF;
}
