div.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  margin-left: 0;
  padding: 0 2.127659574468085% 0 2.127659574468085%;
  border-right: 2px solid $blue;
background-color: #DCF6F8;

  //  div.gradient {
  //   position: absolute;
  //   height: 50%;
  //   top: 50%;
  //   left: 0;
  //   width: 100%;
  //   background: transparent;
  //   background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, transparent));
  //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000', GradientType=0);
  // }
  div.gradient {
    position: absolute;
    height: 70%;
    top: 30%;
    left: 0;
    width: 100%;
    background: transparent;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(13, 67, 80, 1)),color-stop(.5, rgba(13, 67, 80, .3)),  color-stop(1, rgba(13, 67, 80, 0)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='#000000', GradientType=0);
  }
   div.title {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
  }
   div.title h1 {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }
   div.title ul.social {
    display: inline-block;
    margin: 0 auto;
    z-index: 1000;
  }
   div.title ul.social li {
    list-style-type: none;
    display: inline-block;
  }
   div.title ul.social li a {
    display: inline-block;
    width: 25px;
    height: 21px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding-top: 4px;
    margin: 0 5px 0 5px;
  }
   div.title ul.social li a:hover {
    background-color: #0ADFEF;
  }
   div.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity:.1;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
   div.site-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 30px 30px 130px 30px;
  }
   div.site-description h1 {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding-bottom: 10px;
  }
   div.site-description p {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }
   div.site-description ul {
    padding-top: 30px;
  }
   div.site-description ul li {
    padding-bottom: 14px;
  }
   div.site-description ul li a {
    color: #fff;
    font-size: 14px;
  }
   div.site-description ul li a:hover,
   div.site-description ul li a.active {
    color: #0ADFEF;
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}