.sidebar {
  background: $cool-blue;
  color: #fff;
  // width:60px;
  // @include slideInLeft();
  @extend %pure-u-1;
  @extend %pure-u-1-5;
  @extend %animate;

  // NAV STARTS OUT INVISIBLE, FADES IN ON HOVER. CLEARLY A BAD IDEA FOR MOBILE

  nav.nav {
    opacity:0;
    @extend %animate;
    .breakpoint-phone & {
      opacity:1;
    }
  }

  &:hover {
    nav.nav {
      opacity:1;
    }
  }

  .breakpoint-phone & {
    // background: $cool-white;
    @extend %pure-u-1;
  }
}