/* Override Utilities
--------------------------------------------- */
.gist {
  font-size: 13px;
  font-size: 0.8125rem;
}
html {
  font-size: 100%;
}
body {
  line-height: 1.65;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}
ul,
li {
  list-style-type: none;
}
ul,
li,
img,
form,
table,
tr,
td,
ol,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  color: $purple;
  font-weight:100;
}
p {
  padding: 0;
  margin: 0;
}
a,
button,
input[type="submit"],
input[type="button"] {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
}
a.btn,
button.btn,
input[type="submit"].btn,
input[type="button"].btn {
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: darken($blue,20);
}
a:visited {
  color: darken($blue,30);
}
a:hover {
  color: #000000;
  text-decoration: none;
  color: $blue;
}