$sand: #FFFDF7;
$blue: #0ADFEF;
$blue-tint: hsl(184, 92%, 39%);
$purple: #371B52;
$orange: #ffb900;

$sky-white: #F1F1F7;
$cool-white: #E8E8EE;

$cool-blue: #3d4f5d; //rgb(61, 79, 93)
$terminally-blue: #175484;

$eggplant: lighten(#371B52,30); // Eggplant
$oliveOil: #F7FF00; //Olive Oil
$mozzerella: #FAFFDC;// Mozzerella
$lavender: lighten(#FFCDF0,10); // Lavender
$prune: #100010; // Prune
$plum: #4D0049; // Plum
$eggs: #FFE792; // Scrambled Eggs

$sidebar-switch: tablet-down;
